[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin-sortable = "*"
Django = "<3.0.0"
dj-input-flow = {editable = true, path = "."}

[dev-packages]
bumpversion = "==0.5.3"
coverage = "==4.4.1"
mock = ">=1.0.1"
flake8 = ">=2.1.0"
tox = ">=1.7.0"
codecov = ">=2.0.0"
twine = "*"

[requires]
python_version = "3.9"
